#container {
  position: relative;
  border: 5px solid blue;
  display: inline-block;
}

.square {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  display: inline;
  float: left;
}

.selected {
  background-color: black;
}

.hovered {
  background-color: grey;
}