#container {
  position: relative;
  border: 5px solid blue;
  display: inline-block;
}

.square {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline;
  float: left;
}

.hovered {
  background-color: grey;
}