#clear {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

#container {
  outline : 5px solid blue;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.row {
  display: inline-block;
  margin: 0 auto;
}

.square {
  height: 20px;
  width: 20px;
  outline: 1px solid black;
}

.hovered {
  background-color: black;
}